<div class="snackbar-content">
    <div class="icon-and-messages">
        <table>
            <tr>
                <td rowspan="2">
                    <mat-icon class="check-icon">check_circle</mat-icon>
                </td>
                <td class="td-class" style="font-weight:bold">
                    <div class="title">{{data.title}}</div>
                </td>
            </tr>
            <tr>
                <td class="td-class">
                    <div class="message">{{data.message}}</div>
                </td>
            </tr>
        </table>
    </div>
  </div>