<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg-header.png');">
        </div>
    </div>
    <!-- about section -->

    <div class="backgroundheader">
        <div class="hero_area">
            <!-- header section -->
            <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="detail-box">
                            <h1>
                            Invest Better <br>
                            with InvestiSpark
                            </h1>
                            <p>
                                Your one-stop solution designed to sharpen your investing acumen. Be it deep-diving into stock research or staying abreast with new developments, we are all ready to assist you. Embrace the journey, and let's make your investment dreams come true. </p>
                            <div class="btn-box">
                            <a (click)="scrollToAnchoringPosition('services')" class="btn-1">
                                Read More
                            </a>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="row">
                            <div class=" col-lg-6 mx-auto">
                            <div class="img-box">
                                <lottie-player src="../../assets/lottiejson/headerimg.json" background="transparent"  speed="1"  style="width: auto; height: 100%;" loop autoplay></lottie-player>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </section>
            <!-- end header section -->
        </div>
        </div>
    
      <!-- service section -->
    
      <section id="services" class="service_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2 >
              Our Services
            </h2>
          </div>
        </div>
        <div class="container ">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/research-icon.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Research
                  </h4>
                  <p>
                    Latest stock quotes, fundamentals, technicals. You name it, we have it.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/ai-news.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    News
                  </h4>
                  <p>
                    Get the latest news related to your stock plus AI sentiment analysis.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/checklist-icon.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Checklist
                  </h4>
                  <p>
                    Make sure your investment tick all the right boxes before you trade.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/notes-icon.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Notes
                  </h4>
                  <p>
                    Take down notes tagged to your stock ticker all in one place. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/alert-icon.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Watchlist
                  </h4>
                  <p>
                    Be alerted when a stock hits your target price. We have got you covered!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box ">
                <div class="img-box img-box-icon">
                  <img src="../../assets/img/network-icon.gif" alt="">
                </div>
                <div class="detail-box">
                  <h4>
                    Community
                  </h4>
                  <p>
                    Bounce your ideas, follow and learn from like-minded folks!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- end service section -->
    
      <!-- about section -->
    
      <section class="about_section layout_padding-bottom">
        <div class="container  ">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    About Us
                  </h2>
                </div>
                <p>
                  We love investment and we love helping other people in this journey to make better decisions. This application is a culmination of what we feel will help investors to make better, well-informed and considered decisions. We are dedicated to continually improve this product so stay tuned and follow us on our latest developments!  </p>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="img-box">
                <lottie-player src="../../assets/lottiejson/about_lottie.json" background="transparent"  speed="1"  style="width: auto; height: 100%;" loop autoplay></lottie-player>
              </div>
            </div>
    
          </div>
        </div>
      </section>
    
      <!-- end about section -->
    
    
      <!-- login section -->
    
      <section class="server_section">
        <div class="container ">
          <div class="row">
            <div class="col-md-6">
              <div class="img-box">
                <lottie-player src="../../assets/lottiejson/login_lottie.json" background="transparent"  speed="1"  style="width: auto; height: 60%;" loop autoplay></lottie-player>
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    Are you ready?
                  </h2>
                  <p>
                    We are ready! And we hope you are too. With so many tools at your fingertips, we hope to make your investment preparation journey a breeze. So what are you waiting for?
                  </p>
                </div>
                <a  class="btn-1" [routerLink]="['/login']">
                  Start Now!
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- end login section -->
    
      <!-- price section -->
    
      <section class="price_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Our Pricing
            </h2>
          </div>
          <div class="price_container ">
            <div class="box">
              <div class="detail-box-specific">
                <h2>$ <span>0</span></h2>
                <h6>
                  Free Tier
                </h6>
                <ul class="price_features">

                  <li>
                    As we are just beginning this journey, we are offering our services for free. 
                  </li>
                  <li>
                    We do welcome <strong>free kopi</strong> if you like our services and want to keep us motivated to provide you better moving forward.
                  </li>
                  
                </ul>
              </div>
              <div class="btn-box" >
                <a [routerLink]="['/support']">
                  Support us here
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    
      <!-- price section -->
          
      <!-- footer section -->
      <footer class="footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear">2023</span> All Rights Reserved By the InvestiSpark team.
          </p>
        </div>
      </footer>
      <!-- footer section -->
    
      <!-- jQery -->
      <script src="../../assets/js/jquery-3.4.1.min.js"></script>
      <!-- bootstrap js -->
      <script src="../../assets/js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="../../assets/js/custom.js"></script>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</div>
