.mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .wider-dialog-content{
      width:100%;
      height:100%;
  }

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
  
::ng-deep  .mdc-dialog .mdc-dialog__content   {
    padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.custom-link {
  cursor: pointer;
  pointer-events: auto;
  display: block;
}

.custom-link:hover{
  background-color: #d0d0d0;
}

.search-Results{
  background: rgb(248, 248, 248);
}

  .author-email{
    margin-left: 10%;
    font-size: 0.8em;
    font-style: italic;
    color: grey;
  }
.mat-dialog-title{
    padding-bottom: 1em;
}

.outerSearchDiv{
   
}

.innerSearchDiv{
    position: absolute;
    padding-left: 4%;
    padding-right:3%;
    width: 100%;
    z-index: 100;
    text-align: left;
}

.createPostBtn{
    background-color: rgb(226, 135, 24);
    color: white !important;
    width: 90%;
}

.tipsDiv{
    position: relative;
    padding-left: 4%;
    width: 100%
}

.dropmenudialog{
    text-align: right;
    padding-top: 3em;
    padding-right: 3em;
    vertical-align: bottom;
}

.estimation-title{
    font-size: 1em;
    font-weight: bold;
}

.estimation-table th,td{
    padding-left:1em;   
}

.estimation-header{
    font-size: 1em;
    color: grey;
}

.estimation-div{
    margin-top: 1em;
    padding-left: 3em;
}


.mat-mdc-card-avatar{
    height: auto;
    width: 20%;
}

.subtitle-specific{
    font-size: 0.8em;
    font-style: italic;
}

.post-card {
    max-width: 95%;
    margin: 10px auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .mat-title-class{
    font-size: 1em;
  }
  
  .url{
    font-size: 0.6em;
    color: grey;
  }

  .header-container {
    display: flex;
    justify-content: left;
}
  .title-and-subtitle{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
  }