<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg-header.png');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Your support goes a long way</h2>

                    <h5 class="description">Greetings, InvestiSpark members and financial aficionados!</h5>
                    <h5 class="description">As you've ventured through the world of investment with us, you may have noticed that our ever-evolving toolkit is a bit like a Swiss Army Knife for your financial journey. From delving deep into stock research, curating your personal investment checklists, to being updated with real-time market news - it's all there! And let's not forget about our bustling community feed and our stock tracking and alert system, ensuring that you never miss a golden opportunity.</h5>
                    <h5 class="description">Yet, just like Batman needs his fancy gadgets to keep Gotham safe, InvestiSpark needs resources to keep these tools sharp for your investment adventures. So, we’re not shy to ask for a bit of your treasure to help keep this ship sailing smoothly. Your contributions won't just vanish into thin air! They will be reinvested right back into the platform, supporting our tireless team in their quest to make InvestiSpark better, faster, and more feature-packed. Think of it as buying a round of espressos for the developers who keep your investment toolbox shiny and efficient.</h5>   
                    <h5 class="description">Keep investing, keep sparkling, and as always, may your portfolios be ever green!</h5>    
                    <h5 class="description signoff">Warmest Regards,</h5>    
                    <h5 class="description signoff">The InvestiSpark Team </h5>               
                    <h3 class="description supporthead">Support us through:</h3>
                </div> 

            </div>
            <!-- Payments-->
            <div class="paypal-btn" >
                <div id="myPaypalButtons"></div>
            </div>  
        </div>
    </div>
</div>